.fancy-lines {
    text-align: center;
    border-bottom: 1px solid #090;
    line-height: 0;
    padding: 0;
    margin:15px 0;
}

.fancy-lines span {
    background: #fff;
    padding: 0 15px;
    color: #090;
}