<tr style="{{styleTable}}">
    <td class="content-block"
        style="{{styleTd}}"
        valign="top">
        <strong>Hi {{firstName}}!</strong>
        <br /><br />
        Here at {{companyName}} we want to schedule the interview at the best possible time for you, so we already checked all our interview managers' availabilities and now you just have to pick your favorite time slot :)
        <br /><br />
        <a href="{{url}}" class="btn-primary" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #348eda; margin: 0; padding: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;">Pick A Time</a>
    </td>
</tr>