/* Backgrounds */
.bg-light-gray
{
    background-color: #f0f0f0;
}
.bg-white
{
    background-color: #fff;
}
.bg-dark-gray
{
    background-color: #777;
    color: #fff;
}
/* Color */
.gray
{
    color: #777;
}