h1
{
    font-size:34px;
    margin:0 0 15px 0;
    line-height:1.6em;
    font-weight: 700;

    a.action
    {
        float:right;
        font-size:16px;
        font-weight:normal;
        margin-top:8px;
    }
}

h2
{
    font-size:24px;
    margin:0 0 15px 0;
    font-weight:normal;
    padding-bottom:1px;
}

.font20
{
    font-size: 20px !important;
}
.font24
{
    font-size: 24px !important;
}